<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/admin" class="brand-wrap">
      <img
        src="/assets/imgs/theme/logo.svg"
        class="logo"
        alt="Evara Dashboard"
      />
    </a>
    <div>
      <button onclick="document.body.classList.toggle('aside-mini')" class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item <%= path == '/' ? 'active' : '' %>">
        <a class="menu-link" href="/admin">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item <%= path == '/products' ? 'active' : '' %>">
        <a class="menu-link" href="/admin/products">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item <%= path == '/users' ? 'active' : '' %>">
        <a class="menu-link" href="/admin/users">
          <i class="icon material-icons md-people"></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="menu-item <%= path == '/categories' ? 'active' : '' %>">
        <a class="menu-link" href="/admin/categories">
          <i class="icon material-icons md-category"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item <%= path == '/orders' ? 'active' : '' %>">
          <a class="menu-link" href="/admin/orders">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
        </li>
    </ul>
  </nav>
</aside>
