<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="/user" rel="nofollow">Home</a>
            <span></span>Cart
        </div>
    </div>
</div>
<section class="mt-50 mb-50">
    <div class="container">
        <% if (locals?.messages?.error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= locals.messages.error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <div class="row">
                    <div class="col-12">
                        <% if (locals?.userCart && userCart.cartItems.length> 0){ %>
                            <div class="table-responsive">
                                <table class="table shopping-summery text-center clean">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col">Product Image</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total Amount</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (locals.userCart?.cartItems) { %>
                                            <% userCart.cartItems.forEach(cartItem=> { %>
                                                <tr>

                                                    <td class="image product-thumbnail"><img
                                                            src="<%= cartItem?.productId.productImages[0].imagePath %>"
                                                            alt="#"></td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name"><a
                                                                href="/user/products/<%= cartItem.productId %>">
                                                                <%= cartItem.productId.productName %>
                                                            </a></h5>
                                                    </td>
                                                    <td class="price" data-title="Price"><span>₹<%=
                                                                cartItem.productId.salePrice %></span></td>
                                                    <td class="size text-uppercase" data-title="Size"><span>
                                                            <%= cartItem.size %>
                                                        </span></td>
                                                    <td class="text-center" data-title="Quantity">
                                                        <form class="form"
                                                            action="/user/cart/update/<%= cartItem.productId._id %>?_method=PUT"
                                                            method="POST">
                                                            <div class="row justify-content-center align-items-center">
                                                                <div class="col-4"><input type="number"
                                                                        class="form-control" name="quantity" min="1"
                                                                        value="<%= cartItem.quantity %>" id=""></div>
                                                                <div class="col-4"><button type="submit"
                                                                        class="btn btn-sm">Update</button></div>
                                                            </div>
                                                        </form>
                                                    </td>
                                                    <td class="text-right" data-title="Total Amount">
                                                        <span>₹<%= cartItem.quantity * cartItem.productId.salePrice %>
                                                        </span>
                                                    </td>
                                                    <td class="action" data-title="Remove">
                                                        <a href="/user/cart/delete/<%= cartItem.productId._id %>"
                                                            class="text-danger"><i class="fi-rs-trash"></i></a>



                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <% } %>

                                    </tbody>
                                </table>
                            </div>
                            <div class="cart-action text-end">
                                <a href="/user/checkout" class="btn btn-sm"><i
                                        class="fi-rs-shopping-bag mr-10"></i>Checkout</a>
                            </div>
                            <% } else { %>
                                <div class="w-50 h-50 bg-body m-auto text-center">
                                    <h3 class="mb-20">Oops! Your Cart is Empty</h3>
                                    <a class="btn" href="/user/wishlist">Check Wishlist</a>
                                </div>
                                <% } %>
                    </div>
                </div>
    </div>
</section>