<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Fash on</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/maind134.css?v=3.4">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/user" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-25">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="order_review mb-25">
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% userCart.cartItems.forEach(cartItem => { %>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="data:<%= cartItem.productImages[0].contentType %>;base64,<%= cartItem.productImages[0].image.toString('base64') %>" alt="#"></td>
                                            <td>
                                                <h5><a href="shop-product-full.html"><%= cartItem.productName %></a></h5> <span class="product-qty">x <%= cartItem.quantity %></span>
                                            </td>
                                            <td>₹<%= cartItem.quantity * cartItem.salePrice %></td>
                                        </tr>
                                    <% }) %>
                                    <tr>
                                        <th>SubTotal</th>
                                        <td class="product-subtotal" colspan="2">₹<%= total %></td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td colspan="2"><em>₹50</em></td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">₹<%= total + 50 %></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <div class="payment_method">
                            <div class="mb-25">
                                <h5>Payment</h5>
                            </div>
                            <form action="/user/checkout" method="POST">
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash on delivery</label>
                                    </div>
                                </div>
                            </div>
                            <!-- <button type="submit" class="btn btn-sm btn-fill-out btn-block mt-30">Place Order</button> -->
                        </form>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="toggle_info">
                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                            </div>
                            <div class="panel-collapse collapse coupon_form " id="coupon">
                                <div class="panel-body">
                                    <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                    <form method="post">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter Coupon Code...">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn  btn-md" name="login">Apply Coupon</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Choose Address</h4>
                        </div>
                        <div>
                            <div class="row">
                                <% user?.addresses.forEach(address=> { %>
                                    <% if (address.addressType != 'Billing' && address.addressType != 'billing') { %>
                                        <div class="col-lg-4 mb-20">
                                          <div class="card mb-3 mb-lg-0">
                                            <div class="card-body">
                                               
                                              <address>
                                                <strong>
                                                  <%= address.fullName %><br />
                                                </strong>
                                                <%= address.street %><br />
                                                  <%= address.city %><br />
                                                    <%= address.state %> - <%= address.pincode %><br /><br />
                                                        Phone: <%= address.phone %><br />
                                                          Alt phone: <%= address.altPhone %><br />
                                              </address>
                                            </div>
                                            <div class="card-footer text-center">
                                              <a class="btn btn-sm" href="/user/orderPlaced/<%= address._id %>">Select and Proceed</a>
                                            </div>
                                          </div>
                                        </div>
                                     
                                    <% } %>
                                  <% }) %>
                            </div>
                        </div>
                        <div class="accordion" id="accordion">
                            <div class="accordion-item card">
                              <h5 class="card-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                                  Wanna add new address?
                                </button>
                              </h5>
                              <div id="collapse" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <form action="/user/addAddress?source=checkout" method="POST">
                                        <div class="form-group row">
                                          <div class="col">
                                            <label class="form-label" for="fullName">Full Name</label>
                                            <input placeholder="Full name" class="form-control" required type="text" name="fullName" id="fullName">
                                          </div>
                                          <div class="col">
                                            <label class="form-label" for="addressType">Address Type</label>
                                            <input placeholder="Eg:- Billing, Shipping" class="form-control" required type="text" name="addressType" id="addressType">
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <div class="col">
                                            <label class="form-label" for="street">Street</label>
                                            <input placeholder="Enter street" class="form-control" required type="text" name="street" id="street">
                                          </div>
                                          <div class="col"><label class="form-label" for="city">City</label>
                                            <input placeholder="Enter city" class="form-control" required type="text" name="city" id="city">
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <div class="col"><label class="form-label" for="state">State</label>
                                            <input placeholder="Enter state" class="form-control" required type="text" name="state" id="state">
                                          </div>
                                          <div class="col"><label class="form-label" for="pincode">Pincode</label>
                                            <input placeholder="Enter pincode" class="form-control" required type="text" name="pincode"
                                              id="pincode">
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                          <div class="col"><label class="form-label" for="phone">Phone</label>
                                            <input placeholder="Enter phone" class="form-control" required type="text" name="phone" id="phone">
                                          </div>
                                          <div class="col"><label class="form-label" for="altPhone">Alternate
                                              Phone</label>
                                            <input placeholder="Enter alt phone" class="form-control" required type="text" name="altPhone"
                                              id="altPhone">
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <div>
                                            <button class="btn btn-sm" type="submit">Save</button>
                                          </div>
                                        </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                          <!-- <div class="row mt-10">
                            <div class="col">
                              <div class="card mb-3 mb-lg-0">
                                <div class="card-header">
                                  <h5 class="mb-0">Add Address</h5>
                                </div>
                                <div class="card-body">
                                  <form action="/user/addAddress?source=checkout" method="POST">
                                    <div class="form-group row">
                                      <div class="col">
                                        <label class="form-label" for="fullName">Full Name</label>
                                        <input placeholder="Full name" class="form-control" required type="text" name="fullName" id="fullName">
                                      </div>
                                      <div class="col">
                                        <label class="form-label" for="addressType">Address Type</label>
                                        <input placeholder="Eg:- Billing, Shipping" class="form-control" required type="text" name="addressType" id="addressType">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <div class="col">
                                        <label class="form-label" for="street">Street</label>
                                        <input placeholder="Enter street" class="form-control" required type="text" name="street" id="street">
                                      </div>
                                      <div class="col"><label class="form-label" for="city">City</label>
                                        <input placeholder="Enter city" class="form-control" required type="text" name="city" id="city">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <div class="col"><label class="form-label" for="state">State</label>
                                        <input placeholder="Enter state" class="form-control" required type="text" name="state" id="state">
                                      </div>
                                      <div class="col"><label class="form-label" for="pincode">Pincode</label>
                                        <input placeholder="Enter pincode" class="form-control" required type="text" name="pincode"
                                          id="pincode">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <div class="col"><label class="form-label" for="phone">Phone</label>
                                        <input placeholder="Enter phone" class="form-control" required type="text" name="phone" id="phone">
                                      </div>
                                      <div class="col"><label class="form-label" for="altPhone">Alternate
                                          Phone</label>
                                        <input placeholder="Enter alt phone" class="form-control" required type="text" name="altPhone"
                                          id="altPhone">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div>
                                        <button class="btn btn-sm" type="submit">Save</button>
                                      </div>
                                    </div>
                                </form>
                            </div>
                              </div>
                            </div>
                          </div> -->
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>

    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/maind134.js?v=3.4"></script>
    <script src="/assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>