<div class="page-header breadcrumb-wrap">
  <div class="container">
    <div class="breadcrumb">
      <a href="/user" rel="nofollow">Home</a>
      <span></span> Wishlist
    </div>
  </div>
</div>
<section class="mt-50 mb-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <% if (locals?.userWishlist && userWishlist.wishlistItems.length> 0) { %>
            <table class="table shopping-summery text-center">
              <thead>
                <tr class="main-heading">
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <% userWishlist.wishlistItems.forEach(wishlistItem=> { %>
                  <tr>
                    <td class="image product-thumbnail">
                      <img
                        src="<%= wishlistItem.productId.productImages[0].imagePath %>"
                        alt="#" />
                    </td>
                    <td class="product-des product-name">
                      <h5 class="product-name">
                        <%= wishlistItem.productId.productName %>
                      </h5>
                    </td>
                    <td class="price" data-title="Price">
                      <span>₹<%= wishlistItem.productId.salePrice %></span>
                    </td>
                    <td class="text-right" data-title="Cart">
                      <form action="/user/cart/add/<%= wishlistItem.productId._id %>?source=wishlist" method="POST">
                        <button type="submit" class="btn-sm button button-add-to-cart"><i
                            class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
        </div>
        </form>
        </td>
        <td class="action" data-title="Remove">
          <a class="text-danger" href="/user/wishlist/delete/<%= wishlistItem.productId._id %>"><i
              class="fi-rs-trash"></i></a>
        </td>
        </tr>
        <% }) %>
          </tbody>
          </table>
          <% } else { %>
            <div class="w-50 h-50 bg-body m-auto text-center">
              <h3 class="mb-20">Oops! Your Wishlist is Empty</h3>
              <a class="btn" href="/user/cart">Check Cart</a>
            </div>
            <% } %>
      </div>
    </div>
  </div>
  </div>
</section>