<section class="content-main">
  <div class="content-header">
    <h2 class="content-title">Profile Settings</h2>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row gx-5">
        <div class="col">
          <section class="content-body p-xl-4">
            <form action="/admin/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-lg-8">
                  <div class="row gx-3">
                    <div class="col-6 mb-3">
                      <label for="firstName" class="form-label">First name</label>
                      <input id="firstName" name="firstName" class="form-control" type="text"
                        value="<%= admin.firstName %>" />
                    </div>
                    <!-- col .// -->
                    <div class="col-6 mb-3">
                      <label for="lastName" class="form-label">Last name</label>
                      <input id="lastName" name="lastName" class="form-control" type="text"
                        value="<%= admin.lastName %>" />
                    </div>
                    <!-- col .// -->
                    <div class="col-lg-6 mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input id="email" name="email" class="form-control" type="email" value="<%= admin.email %>" />
                    </div>
                    <!-- col .// -->
                    <div class="col-lg-6 mb-3">
                      <label for="phone" class="form-label">Phone</label>
                      <input id="phone" name="phone" class="form-control" type="tel" value="<%= admin.phone %>" />
                    </div>

                    <!-- col .// -->
                  </div>
                  <!-- row.// -->
                </div>
                <!-- col.// -->
                <aside class="col-lg-4">
                  <figure class="text-lg-center">
                    <% if (admin.avatar.image) { %>
                      <img class="img-lg mb-3 img-avatar"
                        src="data:<%= admin.avatar?.contentType %>;base64,<%= admin.avatar?.image.toString('base64') %>"
                        alt="User Photo" />
                    <% } %>
                    <input type="file" class="form-control" name="avatar" />
                  </figure>
                </aside>
                <!-- col.// -->
              </div>
              <!-- row.// -->
              <br />
              <button class="btn btn-sm btn-primary" type="submit">
                Save changes
              </button>
            </form>
            <!-- <hr class="my-5" />
          <div class="row" style="max-width: 920px">
            <div class="col-md">
              <article class="box mb-3 bg-light">
                <a
                  class="btn float-end btn-light btn-sm rounded font-md"
                  href="#"
                  >Change</a
                >
                <h6>Password</h6>
                <small class="text-muted d-block" style="width: 70%"
                  >You can reset or change your password by clicking
                  here</small
                >
              </article>
            </div>
          
            <div class="col-md">
              <article class="box mb-3 bg-light">
                <a
                  class="btn float-end btn-light rounded btn-sm font-md"
                  href="#"
                  >Deactivate</a
                >
                <h6>Remove account</h6>
                <small class="text-muted d-block" style="width: 70%"
                  >Once you delete your account, there is no going
                  back.</small
                >
              </article>
            </div>
        
          </div> -->
            <!-- row.// -->
          </section>
          <!-- content-body .// -->
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
  </div>
  <!-- card end// -->
</section>