<%- include('../partials/loading.ejs') %>
  <%- include('../partials/header-static.ejs') %>
    <main class="main">
      <div class="page-header breadcrumb-wrap">
        <div class="container">
          <div class="breadcrumb">
            <a href="/user" rel="nofollow">Home</a>
            <span></span> Shop
          </div>
        </div>
      </div>
      <section class="mt-50 mb-50">
        <div class="container">
          <div class="row flex-row-reverse">
            <div class="col-lg-9">

              <div class="row product-grid-3">
                <% products.forEach(product=> { %>
                  <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                    <div class="product-cart-wrap mb-30">
                      <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                          <a href="/products/<%= product._id %>">
                            <img class="default-img"
                              src="data:<%= product.productImages[0]?.contentType %>;base64,<%= product.productImages[0]?.image.toString('base64') %>"
                              alt="">
                            <img class="hover-img"
                              src="data:<%= product.productImages[1]?.contentType %>;base64,<%= product.productImages[1]?.image.toString('base64') %>"
                              alt="">
                          </a>
                        </div>

                        <div class="product-badges product-badges-position product-badges-mrg">
                          <span class="hot">Hot</span>
                        </div>
                      </div>
                      <div class="product-content-wrap">
                        <div class="product-category">
                          <p class="text-capitalize">
                            <%= product.category %>
                          </p>
                        </div>
                        <h2><a href="/products/<%= product._id %>">
                            <%= product.productName %>
                          </a></h2>
                        <div class="product-price">
                          <span>$ <%= product.salePrice %> </span>
                          <span class="old-price">$ <%= product.regularPrice %></span>
                        </div>

                      </div>
                    </div>
                  </div>

                  <% }) %>

              </div>
              <!--pagination-->
              <% if (products.length> 0) { %>
                <div class="pagination-area mt-30 mb-50">
                  <nav aria-label="Page navigation">
                    <!-- <nav aria-label="Pagination"> -->
                    <ul class="pagination justify-content-center mt-5">
                      <% if (current==1) { %>
                        <li class="page-item disabled active">
                          <a href="#" class="page-link">First</a>
                        </li>
                        <% } else { %>
                          <li class="page-item">
                            <a href="?page=1" class="page-link">First</a>
                          </li>
                          <% } %>
                            <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>
                              <% if(i !==1) { %>
                                <li class="page-item disabled">
                                  <a href="#" class="page-link">...</a>
                                </li>
                                <% } %>
                                  <% for(; i <=(Number(current) + 4) && i <=pages; i++ ) { %>
                                    <% if (i==current) { %>
                                      <li class="page-item disabled active">
                                        <a href="#" class="page-link">
                                          <%= i %>
                                        </a>
                                      </li>
                                      <% } else { %>
                                        <li class="page-item">
                                          <a href="?page=<%= i %>" class="page-link">
                                            <%= i %>
                                          </a>
                                        </li>
                                        <% } %>
                                          <% if (i==Number(current) + 4 && i < pages) { %>
                                            <li class="page-item disabled">
                                              <a href="#" class="page-link">...</a>
                                            </li>
                                            <% } %>
                                              <% } %>
                                                <% if (current==pages) { %>
                                                  <li class="page-item disabled active">
                                                    <a href="#" class="page-link">Last</a>
                                                  </li>
                                                  <% } else { %>
                                                    <li class="page-item">
                                                      <a href="?page=<%= pages %>" class="page-link">Last</a>
                                                    </li>
                                                    <% } %>
                    </ul>
                  </nav>
                </div>
                <% } %>
            </div>
            <div class="col-lg-3 primary-sidebar sticky-sidebar">
              <div class="widget-category mb-30">
                <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                <ul class="categories">
                  <li class="text-capitalize"><a href="/products">All</a></li>
                  <% categories.forEach(category=> { %>
                    <li class="text-capitalize"><a href="/products?category=<%= category.categoryName %>">
                        <%= category.categoryName %>
                      </a></li>
                    <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer-static.ejs') %>