<div class="content-main">
  <div class="content-header">
    <h1 class="h2">Edit Product</h1>
  </div>
  <div class="container">
    <form action="/admin/products/edit/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="row form-group mb-4">
        <div class="col">
          <label for="productName">Product Name:</label>
          <input class="form-control" type="text" name="productName" value="<%= product.productName %>" id="productName"
            required />
        </div>
        <div class="col">
          <label for="brand">Brand:</label>
          <input class="form-control" type="text" name="brand" value="<%= product.brand %>" id="brand" required />
        </div>
      </div>
      <div class="row form-group mb-4">
        <div class="col">
          <label for="description">Description:</label>
          <input class="form-control" type="text" name="description" value="<%= product.description %>" id="description"
            required />
        </div>
        <div class="col">
          <label for="category">Category:</label>
          <select id="category" required class="form-select" aria-label="Default select example" name="category"
            required>
            <option value="<%= product.category %>" selected>
              <%= product.category[0].toUpperCase() + product.category.slice(1) %>
            </option>
            <% categories.forEach(category=> { %>
              <option value="<%= category.categoryName %>">
                <%= category.categoryName[0].toUpperCase() + category.categoryName.slice(1) %>
              </option>
              <% }) %>
          </select>
        </div>
      </div>
      <div class="row form-group mb-4">
        <div class="col">
          <label for="color">Color:</label>
          <input class="form-control" type="text" name="color" value="<%= product.color %>" id="color" required />
        </div>

        <div class="col">
          <label for="material">Material:</label>
          <input class="form-control" type="text" name="material" value="<%= product.material %>" id="material"
            required />
        </div>
      </div>
      <div class="row form-group mb-4">
        <div class="col">
          <label for="stock">Stock:</label>
          <input class="form-control" type="text" name="stock" value="<%= product.stock %>" id="stock" required />
        </div>
        <div class="col">
          <label for="sizes">Size:</label>
          <div class="form-control">
            <% locals?.sizes.forEach(size=> { %> <% if (product.sizes.includes(size)) { %>
                <div class="form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sizes" value="<%= size %>"
                    checked />
                  <label class="form-check-label" for="inlineCheckbox1">
                    <%= size.toUpperCase() %>
                  </label>
                </div>
                <% } else { %>
                  <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="sizes"
                      value="<%= size %>" />
                    <label class="form-check-label" for="inlineCheckbox1">
                      <%= size.toUpperCase() %>
                    </label>
                  </div>
                  <% }}) %>
          </div>
        </div>
      </div>

      <div class="row form-group mb-4">
        <div class="col">
          <label for="regularPrice">Regular Price:</label>
          <input class="form-control" type="text" name="regularPrice" value="<%= product.regularPrice %>"
            id="regularPrice" required />
        </div>
        <div class="col">
          <label for="salePrice">Sale Price:</label>
          <input class="form-control" type="text" name="salePrice" value="<%= product.salePrice %>" id="salePrice"
            required />
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="images">Product Images:</label>
        <div class="col-6 card-group gap-2 mb-4">
          <% product.productImages.forEach(productImage=> { %>
            <div class="card col-4 rounded">
              <div class="card-body">
                <img class="card-img-top"
                  src="<%= productImage.imagePath %>"
                  alt="product image" />

              </div>
              <div class="card-footer text-end"><a class="btn btn-sm btn-danger"
                  href="/admin/products/edit/deleteImg/<%= productImage._id %>?productId=<%= product._id %>">Remove</a>
              </div>
            </div>
            <% }) %>
        </div>
        <input class="form-control" type="file" id="productImages" name="productImages" multiple />
      </div>
      <div class="form-group mb-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary btn-sm" href="/admin/products">Back</a>
      </div>
    </form>
  </div>
</div>